.custom-input::placeholder {
  padding-left: 20px;
  color: #6b7280;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
  opacity: 0.7;
}

.mask-h {
  height: 50rem;
  width: 34rem;
}

@media (max-width: 1119px) {
  .mask-h {
    height: 50rem;
    width: 29rem;
  }
}

@media (max-width: 1110px) {
  .section2 {
    margin-left: 3rem;
  }
  .sign-img {
    width: 54.333333%;
  }
}

@media (max-width: 1024px) {
  .mask-h {
    height: 30rem;
    width: 100%;
  }

  .all-element {
    margin-left: 8rem;
  }

  .section2 {
    margin-left: 0rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

@media (max-width: 870px) {
  .mask-h {
    height: 30rem;
    width: 100%;
  }

  .all-element {
    margin-left: 8rem;
    margin-right: 8rem;
  }

  .section2 {
    margin-left: 0rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

@media (max-width: 771px) {
  .mask-h {
    height: 18rem;
    width: 100%;
  }

  .all-element {
    margin-left: 0rem;
    margin-right: 0rem;
  }

  .section2 {
    margin-left: 0rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  input {
    width: 100%;
  }

  .sign-img {
    width: 50.333333%;
  }
}

/* styles for menu bar */

.bars {
  display: none;
}

@media (max-width: 940px) {
  .bars {
    display: block;
    color: white;
    font-size: 30px;
  }

  .menus {
      position: absolute;
      display: none;
      flex-direction: column;
      left: 0;
      top: 6rem;
      background-color: rgba(0, 29, 130, 1);
      width: 100%;
  }

  .menus li {
      margin-bottom: 1rem;
  }

}
